config VIRT_FB
    tristate "Virtual framebuffer for headless / VNC"
    default y
    help
      Provides a secondary framebuffer (/dev/fb1) which can be updated
      from userspace daemon or HWC/SurfaceFlinger for VNC streaming.
