config DRM_VIRT_FB
    tristate "Virtual DRM framebuffer for headless / VNC Android"
    default y
    help
      A virtual DRM framebuffer device that can be updated from
      SurfaceFlinger/HWC and exposed to userspace for VNC/headless display.
config VIRT_VNC_DAEMON
    tristate "Virtual VNC Daemon for headless / fb1"
    default y
    help
      Userspace-like kernel module (as simple daemon) to export
      /dev/fb1 to VNC clients for headless Android display.
